/*#region global*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

/*#endregion*/
:root {
  --clr-periwinkle: #7a7ca9;
  --clr-graphite: #5c5c5e;
  --clr-obsidian: #08090b;
  --clr-obsidian-transparent: #08090b75;
  --clr-frost: #b0bbda;
  --clr-white: #ffffff;
  --clr-cardLaylaOne: #9391ffbd;
  --clr-cardLaylaTwo: #6562fa7c;

}


body {
  font-family: 'Quicksand', sans-serif;
  background-image: url(../img/imgbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*#region header*/

header {
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;

    .perfil {
      display: flex;
      gap: 1.5em;
      text-align: center;

      .iconUser {
        background: var(--clr-graphite);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        border-radius: 0.4em;
      }

      .iconPlus {
        background: linear-gradient(135deg, #7a7ca9, #b0bbda);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        border-radius: 0.4em;
      }
    }

    .menu {
      display: flex;
      gap: 2em;

      & a {
        color: var(--clr-obsidian);
        font-weight: bold;
      }
    }

    .login {
      display: flex;
      gap: 1em;

      .logIn {
        border: 1px solid var(--clr-obsidian);
        padding: 0.2em 1em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          font-weight: bold;
          color: var(--clr-obsidian);
        }
      }

      .signUp {
        background: var(--clr-periwinkle);
        padding: 0.2em 1em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          font-weight: bold;
          color: var(--clr-white);
        }
      }
    }
  }
}

/*#endregion header*/

/*#region home*/

#home {
  .artworkContainer {
    .artwork {}

    .cardArtwork {
      display: flex;
      gap: 0.8em;

      .cardLaylaOne {
        position: relative;
        width: 100px;
        border-radius: 1.2em;

        img {
          width: 100px;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent);
          height: 150px;
          display: block;
          border-radius: 1.2em;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, var(--clr-cardLaylaOne), transparent);
          pointer-events: none;
          border-radius: 1.2em;
        }
      }

      .cardLaylaTwo {
        position: relative;
        width: 100px;
        border-radius: 1.2em;
        & img {
          width: 150px;
          height: auto;
          border-radius: 1.2em;
          box-shadow: 0 0 0.4em var(--clr-obsidian-transparent);
          display: block;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, var(--clr-cardLaylaOne), transparent);
          pointer-events: none;
          border-radius: 1.2em;
        }
      }
    }

    .buttonArtwork {}
  }
}

/*#endregion home*/