/*#region global*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box !important;
  list-style: none !important;
  border: none !important;
  font-family: 'Quicksand', sans-serif;

  & ul {
    padding: 0;
  }

  & h2 {
    margin: 0;
  }

  & p {
    margin: 0;
  }
}

/*#endregion*/
:root {
  --clr-periwinkle: #7a7ca9;
  --clr-graphite: #5c5c5e;
  --clr-obsidian: #08090b;
  --clr-obsidian-transparent-card: #08090b86;
  --clr-obsidian-transparent-button: #08090b27;
  --clr-frost: #b0bbda;
  --clr-white: #ffffff;
  --clr-white-transparent-menu: #ffffffcc;
  --clr-cardLaylaOne: #2f2c75;
  --clr-cardLaylaTwo: #7674b8;
  --clr-transparent: transparent;
  --clr-textTitle: 1.5rem;
  --clr-surch-card-one: rgb(153, 176, 219);
  --clr-surch-card-two: #7691c4;
  --clr-surch-card-three: rgb(107, 116, 158);
  --clr-surch-card-four: #444443;
  --clr-surch-card-five: #ffffff;

}



html {

  background-image: url('../img/imgbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  all: unset;
  padding: 0;
  margin: 0;
}

/*#region header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--clr-transparent);
  height: 7vh;

  &.scrolled {
    background: var(--clr-white-transparent-menu);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;

    .perfil {
      display: flex;
      gap: 1.5em;
      text-align: center;

      .iconUser {
        background: var(--clr-graphite);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        border-radius: 0.4em;
      }

      .iconPlus {
        background: linear-gradient(135deg, #7a7ca9, #b0bbda);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        border-radius: 0.4em;
      }
    }

    .menu {
      display: flex;
      gap: 2em;

      & a {
        color: var(--clr-obsidian);
        font-weight: bold;
      }
    }

    .login {
      display: flex;
      gap: 1em;

      .logIn {
        border: 1px solid var(--clr-obsidian);
        padding: 0.2em 1em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          font-weight: bold;
          color: var(--clr-obsidian);
        }
      }

      .signUp {
        background: var(--clr-periwinkle);
        padding: 0.2em 1em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          font-weight: bold;
          color: var(--clr-white);
        }
      }
    }
  }
}

/*#endregion header*/

/*#region home*/

#home {
  all: unset !important;
  padding: 1em !important;
  height: calc(94vh);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;

  .carouselContainer {
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    overflow: visible;

    #carouselExampleInterval {
      position: relative;
      width: 100%;
      max-width: 1350px;
      border-radius: 2em;

      .carousel-inner {
        overflow: hidden;
        border-radius: 2em;
      }
    }

    .laylaContainer {
      position: absolute;
      top: 41%;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;
      pointer-events: none;

      img {
        max-width: 600px;
        border-radius: 2em;

      }
    }

    .gradientOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40%;
      background: linear-gradient(to top, rgb(107, 116, 158), rgba(0, 0, 0, 0));
      z-index: 15;
      pointer-events: none;
      border-radius: 2em;
    }


    .carousel-item {
      position: relative;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
      }

    }


    .carousel-control-prev,
    .carousel-control-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 20;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: brightness(0) invert(1);
      opacity: 1;
    }

  }

  .homeContainerInfo {
    display: flex;
    align-items: center !important;
    justify-content: center;
    min-height: 400px;
    flex-wrap: wrap;

    .artworkContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2em 1em;
      height: 100%;

      .artwork {
        & ul {
          & li {
            display: flex;
            align-items: center;

            .fa-solid.fa-greater-than {
              align-items: center;
              font-weight: bold;
              padding-left: 0.8em;
            }

            & h2 {
              font-weight: bold;
            }
          }
        }
      }

      .cardArtwork {
        display: flex;
        gap: 1.5em;

        .cardLaylaOne {
          position: relative;
          display: inline-block;

          & img {
            width: 150px;
            display: block;
            border-radius: 1.8em;
            box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-card);
          }

          & .textArtworkOne {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--clr-white);
            z-index: 2;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, var(--clr-cardLaylaOne), transparent);
            pointer-events: none;
            border-radius: 1.8em;
          }
        }

        .cardLaylaTwo {
          position: relative;

          & img {
            width: 150px;
            display: block;
            border-radius: 1.8em;
            box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-card);
          }

          & .textArtworkTwo {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--clr-white);
            z-index: 2;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, var(--clr-cardLaylaTwo), transparent);
            pointer-events: none;
            border-radius: 1.8em;
          }
        }
      }

      .buttonArtwork {
        display: flex;
        align-items: center;
        padding: 2em 0;

        & a {
          display: flex;
          justify-content: center;
          width: 316px;
          height: 50px;
          background: var(--clr-white);
          border-radius: 1.8em;
          cursor: pointer;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);

          & button {
            font-size: var(--clr-textTitle);
            font-weight: bold;
            background: var(--clr-transparent);
          }
        }
      }
    }

    .searchContainer {
      display: flex;
      align-items: center;
      padding: 1em 2em;

      .searchInput {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .titleSurch {
          & h2 {
            font-weight: bold;
          }
        }

        .cardSearch1 {
          display: flex;
          gap: 0.5em;
          padding: 0.8em;
          min-width: 255px !important;
          background: var(--clr-surch-card-one);
          border-radius: 1em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          background: var(--clr-surch-card-one);
          padding: 0.8em;
          border-radius: 1em;
          display: flex;
          gap: 0.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          min-width: 255px !important;

          a {
            color: var(--clr-white);
            display: flex;
            align-items: center;
            gap: 0.5em;

            .fa-solid.fa-magnifying-glass {
              font-size: 1.5em;
            }

            & button {
              color: var(--clr-white);
              font-weight: 600;
              background: var(--clr-transparent);
            }
          }
        }

        .cardSearch2 {
          background: var(--clr-surch-card-two);
          padding: 0.8em;
          border-radius: 1em;
          display: flex;
          gap: 0.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          min-width: 255px !important;

          a {
            color: var(--clr-white);
            display: flex;
            align-items: center;
            gap: 0.5em;

            .fa-solid.fa-magnifying-glass {
              font-size: 1.5em;
            }

            & button {
              color: var(--clr-white);
              font-weight: 600;
              background: var(--clr-transparent);
            }
          }
        }

        .cardSearch3 {
          background: var(--clr-surch-card-three);
          padding: 0.8em;
          border-radius: 1em;
          display: flex;
          gap: 0.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          min-width: 255px !important;

          a {
            color: var(--clr-white);
            display: flex;
            align-items: center;
            gap: 0.5em;

            .fa-solid.fa-magnifying-glass {
              font-size: 1.5em;
            }

            & button {
              color: var(--clr-white);
              font-weight: 600;
              background: var(--clr-transparent);
            }
          }
        }

        .cardSearch4 {
          background: var(--clr-surch-card-four);
          padding: 0.8em;
          border-radius: 1em;
          display: flex;
          gap: 0.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          min-width: 255px !important;

          a {
            color: var(--clr-white);
            display: flex;
            align-items: center;
            gap: 0.5em;

            .fa-solid.fa-magnifying-glass {
              font-size: 1.5em;
            }

            & button {
              color: var(--clr-white);
              font-weight: 600;
              background: var(--clr-transparent);
            }
          }

        }

        .cardSearch5 {
          background: var(--clr-surch-card-five);
          padding: 0.8em;
          border-radius: 1em;
          display: flex;
          gap: 0.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
          min-width: 255px !important;

          a {
            color: var(--clr-surch-card-four);
            display: flex;
            align-items: center;
            gap: 0.5em;

            .fa-solid.fa-magnifying-glass {
              font-size: 1.5em;
            }

            & button {
              color: var(--clr-obsidian);
              font-weight: 600;
              background: var(--clr-transparent);
            }
          }
        }
      }
    }

    .cardContainer {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      justify-content: center;
      padding: 1em 0.5em;

      .cardOne {
        & img {
          width: 180px !important;
          border-radius: 1.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-card);
        }
      }

      .cardTwo {
        & img {
          width: 180px !important;
          border-radius: 1.5em;
          box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-card);
        }
      }
    }

    .dataContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
      padding: 1em 2em;

      .cryoCharacter {
        display: flex;
        background: var(--clr-white);
        border-radius: 2em;
        gap: 1em;
        box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
        padding: 0.5em;

        .imgCryo {
          display: flex;
          align-items: center;

          & img {
            max-width: 100px;
            max-height: 100px;
            padding-left: 1em;
          }
        }

        .textCryo {
          & ul {
            & li {
              display: flex;
              flex-direction: column;
              gap: 0.5em;

              & p {
                font-weight: 600;
                font-size: 0.6em;
                max-width: 300px;
                margin-right: 1em;
              }

              & h2 {
                font-weight: bold;
                margin-right: 1em;
              }

            }
          }
        }
      }

      .sumeru {
        display: flex;
        background: var(--clr-white);
        border-radius: 2em;
        gap: 1em;
        box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
        padding: 0.5em;

        .imgSumeru {
          display: flex;
          align-items: center;

          & img {
            max-width: 100px;
            max-height: 100px;
            padding-left: 1em;
          }
        }

        .textSumeru {
          & ul {
            & li {
              display: flex;
              flex-direction: column;
              gap: 0.5em;

              & p {
                font-weight: 600;
                font-size: 0.6em;
                max-width: 300px;
                margin-right: 1em;
              }

              & h2 {
                font-weight: bold;
                margin-right: 1em;
              }

            }
          }
        }
      }

      .akademiya {
        display: flex;
        background: var(--clr-white);
        border-radius: 2em;
        gap: 1em;
        box-shadow: 0 0 0.5em var(--clr-obsidian-transparent-button);
        padding: 0.5em;

        .imgAkademiya {
          display: flex;
          align-items: center;

          & img {
            max-width: 100px;
            max-height: 100px;
            padding-left: 1em;
          }
        }

        .textAkademiya {
          & ul {
            & li {
              display: flex;
              flex-direction: column;
              gap: 0.5em;
              justify-content: center;

              & p {
                font-weight: 600 !important;
                font-size: 0.6em;
                max-width: 300px;
                margin-right: 1em;
              }

              & h2 {
                font-weight: bold;
                margin-right: 1em;
              }

            }
          }
        }
      }
    }
  }
}

/*#endregion home*/


.a {
  height: 100vh;
}

.b {
  height: 100vh;
}